//
   Created by Dany on 6/25/2016.
extends layout
block banner
    include ./includes/men_banner.jade
block content
    .account-in
        .container
            .check_box
                .col-md-9.cart-items
                    h1 Carrito de Compras
                    .simpleCart_items
                .col-md-3.cart-total
                    .price-details
                        h3 Detalles
                        span Total
                        span.total1
                            .simpleCart_total
                        span Entrega
                        span.total1
                            .simpleCart_shipping
                        span Descuentos
                        span.total1
                            .simpleCart_tax
                        .clearfix
                    ul.total_price
                        li.last_price
                            h4 TOTAL
                        li.last_price
                            span
                                .simpleCart_grandTotal
                        .clearfix
                    .clearfix
                    a.order(href='#') Finalizar Compra
