doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/megamenu.css')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Dorsa')
    script(src="/js/jquery-1.11.1.min.js")
    script(src="/js/megamenu.js")
    script(src="/js/script.js")
    script(src="/js/jquery.easydropdown.js")
    script(src="/js/easyReponsiveTabs.js")
    script(src="/js/simpleCart.min.js")
  body
    block content
