//
   Created by Dany on 6/28/2016.

extends layout
block banner
    include ./includes/men_banner.jade
block content
    .account-in
        .container
            h3 Cuenta
            .col-md-7.account-top
                form(action='/users/login' method='post')
                    div
                        span Email
                        input(type='text')
                    div
                        span.pass Contraseña
                        input(type='password')
                    input(type='submit' value='Login')
            .col-md-5.left-account
                a.create(href='/users/register') Crear Cuenta