//
   Created by Dany on 6/28/2016.

extends layout
block banner
    include ./includes/men_banner.jade
block content
    .account-in
        if successMessage
            .alert.alert-danger
                p= successMessage
        if errorMessage
            .alert.alert-success
                p= errorMessage
        .container
            form(action='/users/register' method='post')
               .register-top-grid
                   h2 Informaci칩n Personal
                   div
                       span Nombre de Usuario
                       input(type='text' name='username')
                   div
                       span Email
                       input(type='text' name='email')
               .clearfix
               .register-bottom-grid
                   h2 Informaci칩n de Login
                   div
                       span Contrase침a
                       input(type='password' name='password')
                   div
                       span Confirmar Contrase침a
                       input(type='password')
               .clearfix
               .register-but
                   input(type='submit' value='Registrarse')


